html
{
   background-image: url(https://th.bing.com/th/id/OIP.xZsgHWCUjShgPhYPvTm16wHaEc?w=300&h=180&c=7&o=5&dpr=1.25&pid=1.7);
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1{
    text-align: center;
    color: white;
}
input[type=submit]{
    background-color:white;
  }
  input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password]{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
  }
  h3{
    text-align: center;
    color: white;
}